{% extends 'myapp/index.html' %}   
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>ADD Notice <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Add</a></li>
                                                            <li class="breadcrumb-item">Notice</li>
                                                                                        <li class="breadcrumb-item active">View Notice</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>ADD</strong> Notice </h2>
                <ul class="header-dropdown">                            
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">         
                </div>
                <form action="{% url 'add_notice' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="Notice Title">
                            </div>
                        </div>
                        
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="4" class="form-control no-resize" name="content" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="file" class="form-control" name="image" placeholder="Image if any">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="file" class="form-control" name="video" placeholder="Video if any">
                            </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-round" value="Submit">
                        </div>                       
                        {% for i in messages %}
                        {% if i.tags == 'success' %}
                        <script>
                            swal("Add SuccessFully", "Notice Added SuccessFully!!!!", "success");
                        </script>
                        {% endif %}

                        {% if i.tags == 'error' %}
                        <script>
                            swal("Error", "Error While adding Notice!!", "error");
                        </script>
                        {% endif %}
                        {% endfor %}
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>        
</section>
{% endblock %}
               