{% extends 'myapp/member_index.html' %}
{% load static %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Detail <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Blog</li>
                                                                                        <li class="breadcrumb-item active">Detail</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="blog-page">
    
    <div class="row">    
        <div class="col-lg-8 col-md-12">
            {% for i in nid %}
            <div class="card single_post">
                <div class="body">
                    <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{i.notice_title}}</a></h3>
                    <ul class="meta">
                        <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{i.user_id}}</a></li>
                        <li><a href="#"><i class="zmdi zmdi-label col-red"></i>{{i.whenpublished}}</a></li>
                        <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Views: 3</a></li>
                    </ul>
                </div>                    
                <div class="body">
                    {% if i.img %}
                    <div class="img-post m-b-15">
                        <img src="{{i.img.url}}" alt="No image">
                        <div class="social_share">                            
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
                        </div>
                    </div>
                    {% endif %}
                    <p>{{i.notice_content}}</p>
                    <a href="blog-details.html" title="read more" class="btn btn-round btn-info">Read More</a>                        
                </div>
            </div>  
            {% endfor %} 
        </div>
        <div class="col-lg-4 col-md-12 right-box">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

</div>
</section>
{% endblock %}
                